<!-- IS ADMIN? -->
<div class="home-screen">
  <div class="sidebar">
    <button (click)="navigate('/friends')">Barátlista</button>
    <button (click)="navigate('/user-profile')">Profil</button>
    <button type="reset" (click)="logout()">Kilépés</button>
  </div>
  <div class="posts">
    <div class="create-post">
      <form class="create-post" [formGroup]="createPostForm" (ngSubmit)="createPost()">
        <div>
          <label for="postName">Poszt fejléc:</label>
        </div>
        <div>
          <input id="postName" required formControlName="postHeader" type="text" name="postName"
                 placeholder="Poszt fejléc">
        </div>
        <div>
          <label for="postText">Poszt szöveg:</label>
        </div>
        <div>
          <input id="postText" required type="text" formControlName="postText" name="postText"
                 placeholder="Poszt szövege">
        </div>
        <div>
          <button type="submit">Poszt!</button>
        </div>
      </form>
    </div>

    <app-posts></app-posts>
  </div>
</div>
