<div class="login-container">
  <h1>Fakebook</h1>
    <form class="login-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <input formControlName="email" type="email" placeholder="Email" required [ngClass]="{'invalid-input': signupForm.get('email')?.errors}" />
        <div *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)">
            <p *ngIf="signupForm.get('email')?.errors && signupForm.get('email')?.errors!['required']">Email is required.</p>
            <p *ngIf="signupForm.get('email')?.errors && signupForm.get('email')?.errors!['email']">Please enter a valid email.</p>
        </div>
        <input formControlName="name" type="text" placeholder="Teljes név" />
        <input formControlName="address" type="text" placeholder="Lakcím" />
        <input formControlName="nickname" type="text" placeholder="Felhasználónév" />
        <input formControlName="password" type="password" placeholder="Jelszó" required [ngClass]="{'invalid-input': signupForm.get('password')?.errors}" />
        <div *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)">
            <p *ngIf="signupForm.get('password')?.errors && signupForm.get('password')?.errors!['required']">Jelszó megadása kötelező.</p>
            <p *ngIf="signupForm.get('password')?.errors && signupForm.get('password')?.errors!['minlength']">A jelszó legalább 6 karakter hosszú kell, hogy legyen.</p>
        </div>
        <input formControlName="confirmPassword" type="password" placeholder="Jelszó újra" required [ngClass]="{'invalid-input': signupForm.get('confirmPassword')?.errors}" />
        <div *ngIf="signupForm.get('confirmPassword')?.invalid && (signupForm.get('confirmPassword')?.dirty || signupForm.get('confirmPassword')?.touched)">
            <p *ngIf="signupForm.get('confirmPassword')?.errors && signupForm.get('confirmPassword')?.errors!['required']">Jelszó megadása kötelező.</p>
            <p *ngIf="signupForm.get('confirmPassword')?.errors && signupForm.get('confirmPassword')?.errors!['mustMatch']">Jelszavaknak meg kell egyezniük.</p>
        </div>
        <div class="buttons">
            <button type="submit">Regisztrálás</button>
        </div>
        <div class="buttons">
            <button type="reset" (click)="goBack()">Vissza a bejelentkezéshez</button>
        </div>
    </form>
</div>
