<div class="friends">
  <div class="add-friend">
    <form (ngSubmit)="addFriend()">
      <div>
        <label for="friendEmail">Email cím:</label>
      </div>
      <div>
        <input id="friendEmail" type="email" [(ngModel)]="friendEmail" name="friendEmail"
               placeholder="Barát email címe">
      </div>
      <div class="fooldalra">
        <button type="submit">Barát hozzáadása</button>
      </div>
    </form>
    <div class="fooldalra">
      <button type="submit" (click)="navigate('/home')">Vissza a főoldalra</button>
    </div>
  </div>
  <div class="friend-list">
    <div *ngIf="friends && friends.length > 0; else noFriendsTemplate">
      <h2>Barátok</h2>
      <mat-card *ngFor="let friend of friends" class="friend-card">
        <mat-card-content class="friend-info">
          <p>Email cím: {{ friend.email }}</p>
          <p>Felhasználónév: {{ friend.nickname }}</p>
          <p>Teljes név: {{ friend.name }}</p>
          <p>Lakcím: {{ friend.address }}</p>
        </mat-card-content>
      </mat-card>
    </div>

    <ng-template #noFriendsTemplate>
      <p>A barátlista üres.</p>
    </ng-template>
  </div>
</div>
